* {
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #121217; }

a {
  text-decoration: none; }

.clear {
  clear: left; }

.preheader {
  padding: 7px 30px;
  font-size: 2px;
  background: #FBFBFB; }
  .preheader span {
    color: #FBFBFB;
    float: left; }
  .preheader a {
    color: #0A72B9;
    float: right; }

.header {
  padding: 30px;
  padding-bottom: 5px;
  background-image: url("gradient.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .header__logo {
    text-align: center; }
    .header__logo img {
      height: 50px; }
    .header__logo p {
      color: #FBFBFB;
      opacity: .6;
      letter-spacing: .2px;
      font-weight: bold;
      margin-top: 3px; }
  .header__telefone {
    text-align: center; }
    .header__telefone--numero {
      display: inline-block;
      color: white;
      padding: 7px;
      font-weight: bold;
      letter-spacing: .2px; }

.menu {
  background: #FBFBFB; }
  .menu__wrapper {
    margin: 0 auto;
    text-align: center; }
    .menu__wrapper a {
      display: inline-block;
      padding: 15px 0; }
      .menu__wrapper a span {
        font-size: 16px;
        padding: 5px 10px; }
        .menu__wrapper a span img {
          height: 18px;
          margin-bottom: -3px; }

.comunicado {
  background: #121217;
  padding: 10px 30px;
  color: white;
  font-size: 12px; }
  .comunicado b {
    font-size: 12px;
    color: white; }

.conteudo {
  color: #121217;
  background: #FBFBFB;
  padding: 30px;
  line-height: 1.3; }
  .conteudo__atenciosamente {
    margin-top: 30px; }
    .conteudo__atenciosamente a {
      color: #0A72B9; }

.linha {
  height: 1px;
  width: 100%;
  background: #E4E4E4;
  margin: 30px 0; }

.sociais {
  text-align: center; }
  .sociais a {
    padding: 15px; }
    .sociais a img {
      height: 20px; }

.footer {
  background: #E4E4E4;
  margin: 0;
  padding: 30px; }
  .footer p {
    font-size: 12px;
    line-height: 1.3;
    text-align: center; }
