$bg: #FBFBFB
$preto: #121217
$cinza: #EDEDED
$linha: #E4E4E4
$azul: #0A72B9

*
  padding: 0
  font:
    family: sans-serif
    size: 14px
  color: $preto
  
a
  text-decoration: none

.clear
  clear: left

.preheader
  padding: 7px 30px
  font:
    size: 2px
  background: $bg
  span
    color: $bg
    float: left
  a
    color: $azul
    float: right

.header
  padding: 30px
  padding-bottom: 5px
  background-image: url('gradient.png')
  background-repeat: no-repeat
  background-size: cover

  &__logo
    text-align: center
    img
      height: 50px
    p
      color: $bg
      opacity: .6
      letter-spacing: .2px
      font:
        weight: bold
      margin-top: 3px

  &__telefone
    text-align: center
    &--numero
      display: inline-block
      color: white
      padding: 7px
      font:
        weight: bold
      letter-spacing: .2px

.menu
  background: $bg
  &__wrapper
    // max-width: 80%
    margin: 0 auto
    text-align: center
    // .line
    //   width: 1px
      // height: 7px
    //   color: $linha
    a
      display: inline-block
      padding: 15px 0
      span
        font:
          size: 16px
        padding: 5px 10px
        img
          height: 18px
          margin-bottom: -3px

.comunicado
  background: $preto
  padding: 10px 30px
  color: white
  font:
    size: 12px
  b
    font:
      size: 12px
    color: white
      
.conteudo
  color: $preto
  background: $bg
  padding: 30px
  line-height: 1.3
  &__atenciosamente
    margin-top: 30px
    a
      color: $azul

.linha
  height: 1px
  width: 100%
  background: $linha
  margin: 30px 0

.sociais
  text-align: center
  a
    padding: 15px
    img
      height: 20px

.footer
  background: $linha
  margin: 0
  padding: 30px
  p
    font:
      size: 12px
    line-height: 1.3
    text-align: center






  

